<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div class="navbar navbar-expand-sm bg-success">
    <br>
    <h1>Welcome to document page {{name}}{{surname}}</h1>
</div>
<div class="container">
    <div class="row">
        <br>
        <br>
        {% load static %}
        <img src="{% static 'iau.png' %}" alt="Static image" style="width: 10%; height: 10%;">
    </div>

</div>

</body>
</html>