{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content %}
    {% image self.banner_image width-1500 as img %}
    <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center">
        <h1 class="display-4 banner_title">{{ self.banner_title }}</h1>
        <div class="lead banner_subtitle">{{ self.banner_subtitle|richtext }}</div>
        {% if self.banner_cta %}
            <a class="btn btn-primary btn-md" href="#" role="button">@todo</a>
        {% endif %}
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}