{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailvideos_tags %}
{% block body_class %}
    template-blogpage
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% video self.header_video autoplay controls width=256 %}
    <p class="meta">{{ page.date }}</p>
    <div class="intro">{{ page.intro }}</div>
    <br>
    <div>{{ page.body|richtext }}</div>
    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    {% with page.all_images as all_images %}
        {% for item in all_images %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    {% endwith %}
    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                    <button type="button">{{ tag }}</button>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}